.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Black.woff");
  font-weight: 900;
}

body {
  overflow-x: hidden;
  color: #000000;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.t-header {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px 0;

  &__logo {
    display: inline-block;
    position: relative;

    &-text {
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0;
      color: #6e8fe3;
      line-height: 1;
      font-size: 8px;
      font-weight: 400;
      letter-spacing: 2px;
      z-index: 1;
      text-transform: uppercase;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  &__toggle {
    display: none;
    padding: 10px 0 10px 10px;

    img,
    svg {
      max-width: 50px;
      max-height: 50px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 0;

    &-card {
      display: inline-flex;
      align-items: center;
      margin: 0;
      color: #2d2d2d;
      font-size: 14px;
      font-weight: 300;

      i {
        display: inline-block;
        margin-right: 4px;
        color: #686868;
      }

      a {
        color: #2d2d2d;
        font-size: 14px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #3a70fc;
          text-decoration: none;
        }
      }
    }
  }

  &__nav {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: inline-block;
      position: relative;

      &>a {
        display: inline-block;
        position: relative;
        margin: 0 30px 0 0;
        padding: 6px 0;
        border-bottom: 3px solid transparent;
        color: #2d2d2d;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          border-color: #3a70fc;
          color: #2d2d2d;
          text-decoration: none;
        }
      }
    }

    &-drop {
      display: none;
      position: absolute;
      margin: 0;
      padding: 0;
      list-style: none;
      z-index: 4;

      &_first {
        top: 100%;
        left: 0;
        width: 330px;
        box-shadow: 0 12px 27px rgba(56, 110, 248, 0.38);
        background-color: #ffffff;

        &>li {
          display: block;
          width: 100%;

          &>a {
            display: block;
            width: 100%;
            padding: 20px 28px;
            border-bottom: 1px solid #e7e7e7;
            color: #2d2d2d;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
            transition: all 0.2s ease-out;

            &:hover {
              background: #f0f0f0;
              color: #2d2d2d;
              text-decoration: none;
            }
          }
        }
      }

      &_second {
        top: 0;
        left: 100%;
        width: 330px;
        padding: 13px 0;
        background-color: #f0f0f0;

        &>li {
          display: block;
          width: 100%;

          &>a {
            display: block;
            width: 100%;
            padding: 11px 28px;
            color: #2d2d2d;
            font-size: 16px;
            font-weight: 300;
            cursor: pointer;
            text-decoration: none;
            transition: all 0.2s ease-out;

            &:hover {
              background: #dfdfdf;
              color: #2d2d2d;
              text-decoration: none;
            }
          }
        }
      }
    }

    &-dropper {
      position: relative;

      &_first {
        &:hover {
          &>a {
            border-color: #3a70fc;
          }
        }
      }

      &_second {
        &:hover {
          &>a {
            background: #f0f0f0;
          }
        }
      }

      &:hover {
        &>ul {
          display: block;
        }
      }
    }
  }

  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0 13px 0;

    a {
      display: inline-block;
      margin-left: 10px;
      padding: 5px;
      opacity: 0.8;
      color: #2d2d2d;
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 1;
        color: #3a70fc;
        text-decoration: none;
      }
    }
  }

  &__phone {
    display: block;
    margin: 0 0 5px 0;
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3a70fc;
      text-decoration: none;
    }
  }

  &__link {
    display: inline-block;
    margin-left: auto;
    border-bottom: 1px dotted #2d2d2d;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3a70fc;
      text-decoration: none;
    }
  }

  &__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

.t-home-title {
  display: block;
  max-width: 750px;
  margin: 60px 0 18px 0;
  color: #2d2d2d;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 3.6px;

  b,
  strong {
    color: #2d2d2d;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
  }
}

.t-home-top {
  display: block;
  position: relative;
  width: 100%;
  min-height: 365px;
  padding: 50px 0 40px 0;
  background: url('../images/home_top.png') no-repeat;
  background-size: 100% 100%;

  &__image {
    position: absolute;
    max-width: 640px;
    max-height: 640px;
    bottom: -119px;
    right: -86px;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    height: 315px;
    overflow: hidden;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;

    ul {
      display: block;
      margin: 0 0 10px 0;
      padding: 0;
      list-style: none;
      text-transform: uppercase;

      li {
        display: block;
        position: relative;
        margin: 0 0 20px 0;
        padding-left: 40px;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 0;
          top: 0;
          color: #ffffff;
          font-size: 20px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 30px 0 0 0;
    padding: 17px 40px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #3a70fc 0%, #0036b7 100%);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.44);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transform-style: preserve-3d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to bottom, #5e8cff 0%, #2257d4 100%);
      color: #ffffff;
      text-decoration: none;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 4px;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 29px rgba(53, 107, 246, 0.39);
      border-radius: 10px;
      background-color: #00257e;
      transform: translateZ(-1px);
    }
  }
}

.t-home-big {
  overflow: hidden;

  .swiper-container {
    overflow: visible !important;
  }
}

.t-home-subtitle {
  display: block;
  position: relative;
  margin: 0 0 55px 0;
  color: #2d2d2d;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 150px;
    height: 3px;
    margin-left: -75px;
    margin-top: -20px;
    background-image: linear-gradient(to right, #3a70fc 0%, #002b92 100%);
  }

  &_left {
    text-align: left;

    &:before {
      left: 0;
      margin-left: 0;
    }
  }
}

.t-how {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 300px;
    margin: 0 0 30px 0;
    padding: 5px 30px 20px 30px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: linear-gradient(to bottom, #3a70fc 0%, #0035b5 100%);
      color: #ffffff;
      text-decoration: none;

      .t-how__card-number {
        color: #5582f6;
      }

      .t-how__card-image {
        filter: brightness(0) invert(1);
      }

      .t-how__card-title {
        color: #ffffff;
      }

      .t-how__card-text {
        color: #ffffff;
      }
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 130px;
      z-index: 1;
      transition: all 0.2s ease-out;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      width: 100%;
      margin: 0 0 12px 0;
      color: #2d2d2d;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      z-index: 1;
      transition: all 0.2s ease-out;
    }

    &-text {
      display: block;
      width: 100%;
      margin: 0;
      opacity: 0.8;
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      text-align: center;
      z-index: 1;
      transition: all 0.2s ease-out;
    }

    &-number {
      display: block;
      position: absolute;
      left: -40px;
      top: -50px;
      color: #f1f5ff;
      font-size: 150px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
    }
  }
}

.t-home-quote {
  display: block;
  position: relative;
  width: 100%;
  background: #232323;

  &:after {
    display: block;
    position: absolute;
    content: '';
    right: 40px;
    bottom: -45px;
    width: 130px;
    height: 96px;
    background: url('../images/icon_quote.png') no-repeat center center;
    background-size: contain;
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin-bottom: -10px;
    transform-style: preserve-3d;

    &:after {
      display: block;
      position: absolute;
      content: '';
      left: 44px;
      top: -33px;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 73px rgba(56, 110, 249, 0.39);
      background-image: linear-gradient(to left, #3a70fc 0%, #002b92 100%);
      transform: translateZ(-1px);
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px 60px 50px 0;
  }

  &__title {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    opacity: 0.8;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
  }

  &__text {
    display: block;
    margin: 0;
    opacity: 0.8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.t-home-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 200px 0 0 0;

  &_page {
    padding-top: 120px;
  }

  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 2.4px;

    b,
    strong {
      color: #2d2d2d;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  &__this {
    display: block;
    position: relative;
    width: 100%;
    background: url('../images/feedback_bg.jpg') no-repeat center center;
    background-size: cover;
  }

  &__image {
    display: block;
    position: absolute;
    bottom: 0;
    max-width: 550px;
    max-height: 622px;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 365px;
    padding: 20px;

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(255, 255, 255, 0.8);
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba(255, 255, 255, 0.8);
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;

    i {
      position: absolute;
      top: 8px;
      left: 6px;
      opacity: 0.8;
      color: #ffffff;
      font-size: 13px;
    }

    input {
      display: block;
      width: 100%;
      margin: 0 0 35px 0;
      padding: 5px 40px;
      border: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      outline: none;
      background: transparent;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      font-weight: 300;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #3a70fc;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    position: relative;
    margin: 30px 0 0 0;
    padding: 18px 20px;
    border: 0;
    outline: none;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #3a70fc 0%, #0036b7 100%);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.44);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transform-style: preserve-3d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to bottom, #5e8cff 0%, #2257d4 100%);
      color: #ffffff;
      text-decoration: none;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 4px;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 29px rgba(53, 107, 246, 0.39);
      border-radius: 10px;
      background-color: #00257e;
      transform: translateZ(-1px);
    }
  }

  &__info {
    display: block;
    margin: 30px 0 0 0;
    opacity: 0.8;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
  }
}

.t-home-steps {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 60px 0;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 165px;
    margin: 0 0 30px 0;
    text-align: center;

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 95px;
      margin: 0 0 18px 0;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      min-height: 46px;
      margin: 0 0 18px 0;
      color: #2d2d2d;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    }

    &-number {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #2d2d2d;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.t-win {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 0 100px 0;
  background: #f4f4f4 url('../images/win_bg.png') no-repeat left 55vw bottom 60px;

  .swiper-container {
    box-shadow: 0 17px 35px rgba(0, 0, 0, 0.16);
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 0;
    margin-top: -85px;
    outline: none;
    background: transparent;
    color: #2d2d2d;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .swiper-button-prev {
    left: auto;
    right: 80px;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    min-height: 450px;
    padding: 35px;
    background: #ffffff;

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 260px;
      max-height: 370px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(1.05);
        text-decoration: none;
      }

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      width: 100%;
      max-width: 380px;
      margin: 0 0 20px 0;
      color: #2d2d2d;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.5;
    }

    &-text {
      display: block;
      margin: 0;
      opacity: 0.8;
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.t-home-seo {
  display: block;
  position: relative;
  width: 100%;
  min-height: 725px;
  padding: 75px 0 300px 0;
  background: url('../images/seo_bg.png') no-repeat center bottom -65px;

  &_another {
    min-height: 705px;
    margin-top: -100px;
    padding: 150px 0 200px 0;
    background: url('../images/seo_bg_2.png') no-repeat right calc((100vw - 1200px) / 2) bottom 0;
  }

  &_about {
    min-height: 650px;
    margin-top: -90px;
    padding: 180px 0 190px 0;
    background: url('../images/seo_bg_3.png') no-repeat left calc((100vw - 1200px) / 2) bottom 0;
    z-index: 1;
  }

  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__content {
    display: block;
    width: 100%;

    a {
      color: #3a70fc;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #3a70fc;
        text-decoration: none;
      }
    }

    p {
      display: block;
      margin: 0 0 30px 0;
      color: rgba(45, 45, 45, 0.8);
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    ul {
      display: block;
      margin: 0 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 20px;
        color: #2d2d2d;
        font-size: 16px;
        font-weight: 300;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 0;
          top: 0;
          color: #0c42c5;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
}

.t-home-news {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -105px;
  background: transparent;

  &_news {
    margin: 0;

    &__title {
      display: block;
      margin: 0 0 95px 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__this {
    display: block;
    position: relative;
    width: 100%;
    padding: 80px 0 60px 0;
    background: url('../images/news_bg.jpg') no-repeat center center;
    background-size: cover;
  }

  &__card {
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0 0 30px 0;
    color: #ffffff;
    transform-style: preserve-3d;

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: #ffffff;
      transform: translateZ(-1px);
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #2d2d2d;
      text-decoration: none;

      &:after {
        width: 122%;
        height: 122%;
        left: -11%;
        top: -11%;
        box-shadow: 0 13px 59px rgba(0, 0, 0, 0.82);
      }
    }

    &-date {
      display: block;
      margin: 0 0 16px 0;
      font-size: 16px;
      font-weight: 300;
    }

    &-image {
      display: block;
      width: 100%;
      height: 180px;
      margin: 0 0 24px 0;
      background-position: center center;
      background-size: cover;
    }

    &-title {
      display: block;
      margin: 0 0 10px 0;
      font-size: 20px;
      font-weight: 500;
    }

    &-text {
      display: block;
      margin: 0;
      opacity: 0.8;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 70px auto 0 auto;
    padding: 17px 40px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #3a70fc 0%, #0036b7 100%);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.44);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    transform-style: preserve-3d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to bottom, #5e8cff 0%, #2257d4 100%);
      color: #ffffff;
      text-decoration: none;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 4px;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 29px rgba(53, 107, 246, 0.39);
      border-radius: 10px;
      background-color: #00257e;
      transform: translateZ(-1px);
    }
  }
}

.t-home-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 125px 0 105px 0;

  &_page {
    padding: 95px 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 0;
    margin-top: -135px;
    outline: none;
    background: transparent;
    color: #2d2d2d;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .swiper-button-prev {
    left: auto;
    right: 80px;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 560px;
    padding-top: 10px;

    &_margin {
      margin-bottom: 120px;

      /* &:last-child {
        margin-bottom: 0;
      } */
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 73px;
      height: 49px;
      top: 0;
      right: 20px;
      background: url('../images/icon_quote_2.png') no-repeat center center;
      background-size: contain;
      z-index: 1;
    }

    &-image {
      display: block;
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 45px 30px 40px 30px;
      border-left: 1px solid #172e6b;
      background: #f4f4f4;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 21px;
        height: 44px;
        top: 55px;
        right: 100%;
        margin-right: -1px;
        border-right: 1px solid #f4f4f4;
        background: url('../images/icon_triangle.png') no-repeat center center;
        background-size: contain;
        z-index: 1;
      }
    }

    &-who {
      display: block;
      margin: 0 0 18px 0;
      color: #2d2d2d;
      font-size: 20px;
      font-weight: 500;
    }

    &-date {
      display: block;
      margin: 0 0 30px 0;
      opacity: 0.5;
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 300;
    }

    &-text {
      display: block;
      margin: 0;
      opacity: 0.8;
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 0 55px 0;
    border-bottom: 1px solid #2d2d2d;
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #3a70fc;
      color: #3a70fc;
      text-decoration: none;
    }
  }
}

.t-home-clients {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 60px 0;
  background: #f4f4f4;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 270px;
    height: 170px;
    margin: 0 auto 30px auto;
    padding: 10px;
    background: #ffffff;

    &_small {
      height: 140px;
    }

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.t-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 70px 0;
  background: #232323;

  &__logo {
    display: block;
    margin: 0 0 60px 0;

    img,
    svg {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  &__phone {
    display: block;
    margin: 0 0 5px 0;
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3a70fc;
      text-decoration: none;
    }
  }

  &__link {
    display: inline-block;
    margin-left: auto;
    border-bottom: 1px dotted #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #3a70fc;
      color: #3a70fc;
      text-decoration: none;
    }
  }

  &__small-title {
    display: block;
    margin: 0 0 10px 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
  }

  &__policy {
    display: inline-block;
    margin: 45px 0;
    border-bottom: 1px dotted #ffffff;
    opacity: 0.5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
      border-color: #3a70fc;
      color: #3a70fc;
      text-decoration: none;
    }
  }

  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      a {
        display: block;
        margin: 0 0 28px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #3a70fc;
          text-decoration: none;
        }
      }
    }
  }

  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;

    a {
      display: inline-block;
      margin-right: 10px;
      padding: 5px;
      opacity: 0.5;
      color: #ffffff;
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 1;
        color: #3a70fc;
        text-decoration: none;
      }
    }
  }

  &__creators {
    display: block;
    position: relative;
    width: 100%;
    margin: 200px 0 0 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 300;
    line-height: 2;

    a {
      display: inline;
      position: relative;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      text-decoration: dotted;
      transition: all 0.2s ease-out;

      &:hover {
        color: #3a70fc;
        text-decoration: none;
      }
    }
  }

  &__subtitle {
    display: block;
    margin: 35px 0 22px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3a70fc;
      text-decoration: none;
    }
  }

  &__subnav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      a {
        display: block;
        margin: 0 0 15px 0;
        opacity: 0.5;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          opacity: 1;
          color: #3a70fc;
          text-decoration: none;
        }
      }
    }
  }
}

.t-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    padding: 35px;
    background: linear-gradient(-60deg, #3a70fc 0%, #002b92 100%);
  }

  &__this {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 34px 50px 24px 50px;
    background: #ffffff;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 22px 0;
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 60px 0;
    color: #494949;
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 380px;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(45, 45, 45, 0.8);
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(45, 45, 45, 0.8);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(45, 45, 45, 0.8);
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;

    i {
      position: absolute;
      top: 8px;
      left: 6px;
      opacity: 0.8;
      color: #1147cb;
      font-size: 13px;
    }

    input {
      display: block;
      width: 100%;
      margin: 0 0 35px 0;
      padding: 5px 40px;
      border: 0;
      border-bottom: 1px solid rgba(45, 45, 45, 0.5);
      outline: none;
      background: transparent;
      color: rgba(45, 45, 45, 0.8);
      font-size: 18px;
      font-weight: 300;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #3a70fc;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    max-width: 300px;
    position: relative;
    margin: 30px 0 0 0;
    padding: 18px 20px;
    border: 0;
    outline: none;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #3a70fc 0%, #0036b7 100%);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.44);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transform-style: preserve-3d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to bottom, #5e8cff 0%, #2257d4 100%);
      color: #ffffff;
      text-decoration: none;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 4px;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 29px rgba(53, 107, 246, 0.39);
      border-radius: 10px;
      background-color: #00257e;
      transform: translateZ(-1px);
    }
  }

  &__info {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 26px auto 0 auto;
    opacity: 0.8;
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    text-align: center;
  }
}

.t-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  padding: 6px 0;
  background: #232323;

  &__this {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;

    li {
      display: inline-block;
    }

    a {
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #3a70fc;
        text-decoration: none;
      }
    }
  }
}

.t-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 75px 0 20px 0;
}

.t-page-clients {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 90px 95px 0;
  background: #f4f4f4;

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 50vw;
    height: 100%;
    top: 0;
    right: 100%;
    background: #f4f4f4;
  }
}

.t-services-seo {
  display: block;
  position: relative;
  width: 100%;
  background: #e6e6e6;

  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__image {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 0;
  }

  &__content {
    display: block;
    width: 100%;
    padding: 150px 0 120px 0;

    a {
      color: #3a70fc;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #3a70fc;
        text-decoration: none;
      }
    }

    p {
      display: block;
      margin: 0 0 30px 0;
      color: rgba(45, 45, 45, 0.8);
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.t-about {
  display: block;
  position: relative;
  width: 100%;

  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 340px;
    height: 340px;
    margin-top: 20px;
    transform-style: preserve-3d;
    z-index: 1;

    img,
    svg {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      left: 45px;
      top: 35px;
      width: 328px;
      height: 328px;
      box-shadow: 0 0 73px rgba(56, 110, 249, 0.39);
      background-image: linear-gradient(to left, #3a70fc 0%, #002b92 100%);
      transform: translateZ(-1px);
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    min-height: 450px;
    padding: 60px 50px 60px 0;
    background-color: #232323;
    transform-style: preserve-3d;

    &:after {
      display: block;
      position: absolute;
      content: '';
      right: 100%;
      top: 0;
      width: 250px;
      height: 100%;
      background: #232323;
      transform: translateZ(-1px);
    }
  }

  &__title {
    display: block;
    margin: 0 0 20px 0;
    opacity: 0.8;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
  }

  &__text {
    display: block;
    margin: 0;
    opacity: 0.8;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
  }
}

.t-features {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -55px;
  padding: 100px 0 60px 0;
  background: url('../images/features_bg.jpg') no-repeat center center;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 210px;
    margin-bottom: 30px;
    text-align: center;

    &-line {
      display: block;
      width: 115px;
      height: 3px;
      margin: 24px 0 20px 0;
      background-image: linear-gradient(to right, #3a70fc 0%, #002b92 100%);
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 80px;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      margin: 0;
      color: #fefefe;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    }
  }
}

.t-welcome {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 0 100px 0;
  background-position: center center;
  background-size: cover;

  &_bigger {
    padding: 125px 0 140px 0;
  }

  &__title {
    display: block;
    position: relative;
    max-width: 530px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 150px;
      height: 3px;
      margin-left: -75px;
      margin-top: -20px;
      background-image: linear-gradient(to right, #3a70fc 0%, #002b92 100%);
    }

    &_left {
      text-align: left;

      &:before {
        left: 0;
        margin-left: 0;
      }
    }
  }
}

.table {
  margin-bottom: 40px;
  background: #ffffff;
}

.table td,
.table th {
  padding: 13px 28px;
  border: 0;
  color: #232323;
  font-size: 16px;
  font-weight: 400;
}

.table thead th {
  padding: 19px 28px;
  background: #232323;
  color: #fefefe;
  font-size: 18px;
  font-weight: 400;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(43, 97, 234, 0.06);
}

.table-striped tbody tr:nth-of-type(even) {
  background: #ffffff;
}

.table-striped tbody td:nth-of-type(odd) {
  background: rgba(43, 97, 234, 0.06);
}

.table-responsive {
  margin: 20px 0;
  color: #484b4e;
  font-size: 16px;
  font-weight: 500;
}

.t-news {
  display: block;
  position: relative;
  width: 100%;
  max-width: 770px;
  margin: 0 auto;

  &__preview {
    display: block;
    margin: 0 0 45px 0 !important;
    opacity: 0.8;
    color: #2d2d2d;
    font-size: 22px !important;
    font-weight: 300 !important;
    line-height: 1.65 !important;
  }

  &__description {
    display: block;
    margin: 0 0 50px 0;
    opacity: 0.5;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 0 15px 0;
  }

  a {
    font-size: 16px;
    font-weight: 300;
    color: #0c42c5;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3a70fc;
      text-decoration: none;
    }
  }

  p {
    display: block;
    margin: 0 0 25px 0;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 20px 0;
    color: #2d2d2d;
    font-weight: 700;
  }

  h1 {
    font-size: 32px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 26px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 20px;
    text-transform: uppercase;
  }

  h4 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.8;
  }

  h5 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
  }

  h6 {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
  }

  ul {
    display: block;
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      padding-left: 20px;
      color: #2d2d2d;
      font-size: 16px;
      font-weight: 300;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        left: 0;
        top: 0;
        color: #0c42c5;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  blockquote {
    display: block;
    position: relative;
    width: 100%;
    margin: 20px 0 50px 0;
    padding: 40px;
    border-left: 3px solid #0c42c5;
    background: #f2f2f2;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
  }
}

.t-group {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -65px;
  padding: 30px 30px 0 30px;
  box-shadow: 0 17px 35px rgba(0, 0, 0, 0.16);
  background-color: #f9f9f9;
  z-index: 1;

  &__card {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 260px;
    margin-bottom: 30px;
    min-height: 140px;
    padding: 10px 45px 10px 25px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65;

    &:before {
      display: block;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background-image: linear-gradient(to top, #3a70fc 0%, #002b92 100%);
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: linear-gradient(to top, #3a70fc 0%, #002b92 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.t-service {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0 100px 0;
  background: url('../images/service_bg.jpg') no-repeat center center;
  background-size: cover;

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 75px 55px 55px 55px;
    box-shadow: 0 17px 35px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  &__title {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    color: #2d2d2d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 150px;
      height: 3px;
      margin-left: 0;
      margin-top: -20px;
      background-image: linear-gradient(to right, #3a70fc 0%, #002b92 100%);
    }
  }

  &__text {
    display: block;
    margin: 0 0 45px 0;
    opacity: 0.8;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  &__price {
    display: block;
    margin: 0 0 32px 0;
    color: #2d2d2d;
    font-size: 30px;
    font-weight: 400;

    b,
    strong {
      color: #0c42c5;
      font-weight: 700;
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 17px 105px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #3a70fc 0%, #0036b7 100%);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.44);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transform-style: preserve-3d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to bottom, #5e8cff 0%, #2257d4 100%);
      color: #ffffff;
      text-decoration: none;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 4px;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 29px rgba(53, 107, 246, 0.39);
      border-radius: 10px;
      background-color: #00257e;
      transform: translateZ(-1px);
    }
  }
}

.t-service-steps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-top: -50px;
  padding: 18px 0;
  background: #232323;
  z-index: 1;

  &__line {
    display: inline-block;
    width: 1px;
    height: 145px;
    background: #ffffff;
    opacity: 0.3;
  }

  &__card {
    display: inline-flex;
    position: relative;
    width: 100%;
    max-width: 380px;
    min-height: 145px;

    &-number {
      display: inline-block;
      min-width: 70px;
      margin-left: 20px;
      opacity: 0.05;
      color: #ffffff;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      display: inline-block;
      max-width: 260px;
      margin: 25px 0 0 0;
      color: #fefefe;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    }
  }
}

.t-contacts {
  display: block;
  position: relative;
  width: 100%;
  max-width: 470px;
  margin: 0;
  padding: 65px 50px 50px 50px;
  box-shadow: 0 17px 35px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 2;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 45px 0;
    color: #2d2d2d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 150px;
      height: 3px;
      margin-left: 0;
      margin-top: -20px;
      background-image: linear-gradient(to right, #3a70fc 0%, #002b92 100%);
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 2px 0;
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 300;
  }

  &__phone {
    display: block;
    margin: 0 0 10px 0;
    color: #2d2d2d;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3a70fc;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 0 0 16px 0;
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 400;

    sup {
      font-size: 10px;
    }

    &_link {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #3a70fc;
        text-decoration: none;
      }
    }
  }

  &__link {
    display: inline-block;
    margin: 45px 0 55px 0;
    border-bottom: 1px dotted #0c42c5;
    color: #0c42c5;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: transparent;
      color: #3a70fc;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 17px 66px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #3a70fc 0%, #0036b7 100%);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.44);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transform-style: preserve-3d;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to bottom, #5e8cff 0%, #2257d4 100%);
      color: #ffffff;
      text-decoration: none;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 4px;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 29px rgba(53, 107, 246, 0.39);
      border-radius: 10px;
      background-color: #00257e;
      transform: translateZ(-1px);
    }
  }
}

#map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .t-header__mob {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .t-home-form__image {
    display: none;
    position: relative;
    margin: 0;
  }

  .t-home-top__image {
    display: none;
    position: relative;
    margin: 0;
  }

  .t-home-title {
    font-size: 24px;

    b,
    strong {
      font-size: 32px;
    }
  }

  .t-header__toggle {
    display: inline-block;
    margin-top: 12px;
  }

  .t-header__info-card {
    display: flex;
    width: 100%;
    margin: 0 0 6px 0;
  }

  .t-header__info {
    display: none;
    padding: 10px;
  }

  .t-header__nav {
    display: none;
  }

  .t-header__nav>li {
    display: block;
    width: 100%;

    &>a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .t-header__nav-dropper:hover>ul {
    display: none;
  }

  .t-header__social {
    justify-content: center;
    margin: 5px 0;

    a {
      margin: 0;
      padding: 10px;
    }
  }

  .t-header__phone {
    text-align: center;
  }

  .t-header__right {
    justify-content: center;
  }

  .t-header__link {
    margin: 0;
  }

  .t-home-title {
    margin: 20px 0;
  }

  .t-home-top__button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto 0 auto;
    padding: 16px 10px;
  }

  .t-how {
    padding: 40px 0;
  }

  .t-home-subtitle {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .t-home-quote__content {
    padding: 50px 20px;
  }

  .t-home-form {
    padding: 20px 0;
  }

  .t-home-form__title {
    line-height: 1.25;
  }

  .t-home-form__button {
    margin-top: 10px;
  }

  .t-home-steps {
    padding: 40px 0;
  }

  .t-win {
    padding: 40px 0;
    background: #f4f4f4;
  }

  .t-home-news {
    margin: 0;
    padding: 40px 0;
  }

  .t-home-news__this {
    padding: 20px 0;
  }

  .t-home-reviews {
    padding: 40px 0;
  }

  .t-home-reviews .swiper-button-next,
  .t-home-reviews .swiper-button-prev {
    margin-top: -82px;
  }

  .t-home-reviews__card-content {
    padding: 40px 20px;
  }

  .t-home-reviews__card-text {
    font-size: 14px;
  }

  .t-home-clients {
    padding: 40px 0;
  }

  .t-footer {
    padding: 40px 0;
  }

  .t-footer__logo {
    margin-bottom: 20px;
  }

  .t-footer__policy {
    margin: 20px 0;
  }

  .t-footer__creators {
    margin-top: 20px;
  }

  .t-home-seo {
    min-height: auto !important;
    padding: 40px 0 !important;
    background: #ffffff !important;
  }

  .t-home-news {
    padding-top: 10px;
  }

  .t-page {
    padding: 40px 0;
  }

  .t-home-reviews__card_margin {
    margin-bottom: 20px;
  }

  .t-modal__this {
    padding: 20px 10px;
  }

  .t-services-seo__content {
    padding: 40px 0;
  }

  .t-services-seo__image {
    display: none;
  }

  .t-page-clients {
    padding: 40px 0;

    &:before {
      display: none;
    }
  }

  .t-about__image:after {
    left: 17px;
  }

  .t-features {
    margin: 0;
    padding: 40px 0;
  }

  .t-home-seo_about {
    margin: 0;
  }

  .t-about__content {
    padding: 40px 0;
  }

  .t-features__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .t-features__cards {
    justify-content: space-around;
  }

  .t-features__card {
    margin-bottom: 20px;
  }

  .t-features__card-line {
    margin: 10px 0;
  }

  .t-welcome {
    padding: 40px 0;
  }

  .t-welcome__title {
    font-size: 28px;
  }

  .t-news blockquote {
    margin: 20px 0;
    padding: 20px;
  }

  .table {
    margin-bottom: 10px;
  }

  .t-home-news_news__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .t-home-news__button {
    margin-top: 20px;
  }

  .t-group {
    justify-content: space-around;
    margin: 10px 0;
    padding: 10px;

    &__card {
      margin-bottom: 10px;
    }
  }

  .t-service {
    padding: 20px 0;
  }

  .t-service__content {
    padding: 30px 15px;
  }

  .t-service__title {
    font-size: 22px;
  }

  .t-service__text {
    margin-bottom: 20px;
  }

  .t-service__button {
    width: 100%;
    padding: 17px;
  }

  .t-service-steps__line {
    display: none;
  }

  .t-service-steps {
    margin: 0;
  }

  .t-news__preview {
    font-size: 16px !important;
  }

  #map {
    position: relative;
    height: 300px;
  }

  .t-contacts {
    padding: 0 20px 30px 20px;
    box-shadow: none;
  }

  .t-contacts__title {
    margin-bottom: 20px;
  }

  .t-contacts__link {
    margin: 20px 0;
  }

  .t-home-top__content {
    padding: 0 80px;
    font-size: 16px;
  }

  .t-home-top__button {
    font-size: 14px;
  }

  .t-home-news__card {
    margin: 0 auto 30px auto;
  }

  .t-home-seo_another {
    margin: 0;
  }

  .t-home-news {
    padding-bottom: 0;
  }

  .t-page-clients {
    padding: 40px 15px;
  }

  .t-contacts__button {
    display: block;
    max-width: 320px;
    padding: 17px;
  }

  .t-home-reviews__card_margin {
    margin: 0 auto 20px auto;
  }

  .t-group__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
    padding: 10px;
    text-align: center;
  }

  .t-home-reviews__card {
    max-width: 800px;
  }
}

@media (max-width: 992px) {

  .t-home-top__content {
    padding: 0 50px;
  }
}

@media (max-width: 575px) {
  .t-header__logo {
    max-width: 248px;
  }

  .t-home-top__content {
    padding: 0 30px;
  }

  .t-home-reviews__card-content:before {
    display: none;
  }

  .t-home-reviews__card:after {
    display: none;
  }

  .t-home-reviews__card-content {
    padding: 20px 15px;
  }

  .t-home-reviews__card-date {
    margin-bottom: 15px;
  }

  .t-home-reviews__link {
    margin-bottom: 20px;
  }

  .t-home-reviews .swiper-button-next,
  .t-home-reviews .swiper-button-prev {
    margin-top: 40px;
  }

  .t-home-title {
    font-size: 19px;
  }

  .t-home-reviews__card-content {
    border: 0;
  }

  .t-home-reviews__card-image {
    border-radius: 0;
    background-color: #f4f4f4;
  }
}